@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
html{
  width: 800px;
  height:870px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand';
}
.header{
  left:5%;
  width: 770px;
  height: 80px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcd8d4;
}
.header .h1{
  left:50px;
  text-decoration: none;
  color:#00647D;
  }
.sidebar ul li{
  display: inline-block;
  margin: 0 10px;
}
.sidebar ul li label{
  font-size:13px;
  text-decoration: none;
  color:black;
  border:0;
  outline:0;
  background-color:#fcd8d4;

}
.sidebar ul li label:hover{
  box-shadow: 0 3px #fdf6f0;
}
.main{
  left:5%;
  min-height:1000px;
  width:770px;
  background-color:#f2f4f7;
  justify-content: space-between;
  margin:0 auto;
}
.mainClear{
  width:770px;
  height:15px;
}
.main2{
  display:inline-flex;
  background-color: #fdf6f0;
}
.memberInfo{
  width:200px;
  height:90px;
}
.memberInfo ul li{
  text-decoration: none;
  display:flex;
}
.goWork{
  width:300px;
  height:90px;
}
.workStatus{
  width:270px;
}
.notice{
  width:100%;
  height:400px;
  background-color: #fdf6f0;
}
.product{
  width:100%;
  height:400px;
  background-color: #f8e2cf;
}
.footer{
  width:770px;
  height:80px;
  justify-content: space-between;
  margin:0 auto;
  bottom:0;
  background-color: #fcd8d4;
}
.btn{
  font-size:12px;
  width:90px;
  height:30px;
  background-color:rgba(255,179,193,0.21);
  color:#00232b;
  border-radius:10px;
  border:none;
  
}
.btn:hover{
  cursor:pointer;
  background-color:rgba(255,179,193,0.45);
  
}